html
  position: relative
  min-height: 100%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
  font: normal #{$font-size-base}/#{$line-height-base} $font-family-base
  background: $background-body
  color: $text-color
  min-width: 320px

::selection
  background: $second-color
  color: #fff

::-moz-selection
  background: $second-color
  color: #fff

a
  color: $link-color

.container
  max-width: $md
  margin: auto
  @include clearfix