html,body,div,span,strong,h1,h2,h3,h4,h5,h6,
p,blockquote,a,address,em,img,ins,q,b,u,i,
object,label, ul, li,ol, form
  margin: 0
  padding: 0
  outline: 0
  background: transparent
  box-sizing: border-box

table
  border-collapse: collapse
  border-spacing: 0

caption,
th,
td
 text-align: left

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary
  display: block
  box-sizing: border-box

audio,
canvas,
video
  display: inline-block

audio:not([controls])
  display: none

[hidden]
  display: none

html
  overflow-y: scroll
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

html,
button,
input,
select,
textarea
  outline: none
  font-family: sans-serif
  box-sizing: border-box

button
  padding: 0
  border: none
  background: none


a:focus
  outline: thin dotted

a:hover
  text-decoration: none

a,
a:focus,
a:hover,
a:active
  outline: none

a span,
a strong,
a img
  cursor: pointer

h6,
h5,
h4,
h3,
h2,
h1
  font-weight: normal

abbr[title]
  border-bottom: 1px dotted

b,
strong
  font-weight: bold

dfn
  font-style: italic

mark
  background: #ff0
  color: #000

pre,
code,
kbd,
samp
  font-family: monospace, serif
  _font-family: 'courier new', monospace
  font-size: 1em

pre
  white-space: pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none

q:before,
q:after
  content: ''
  content: none

small
  font-size: 75%

sub,
sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

ul,
ol
  list-style: none

dd
  margin: 0 0 0 40px

img
  max-width: 100%
  border: 0
  -ms-interpolation-mode: bicubic

svg:not(:root)
  overflow: hidden

figure
  margin: 0

form
  margin: 0

fieldset
  margin: 0 2px
  border: 1px solid #c0c0c0
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  padding: 0
  white-space: normal

button,
input,
select,
textarea
  font-size: 100%
  margin: 0
  vertical-align: baseline

button,
input
  line-height: normal

button,
input[type="button"],
input[type="reset"],
input[type="submit"]
  cursor: pointer
  -webkit-appearance: button

button[disabled],
input[disabled]
  cursor: default

input[type="checkbox"],
input[type="radio"]
  box-sizing: border-box
  margin: 0
  padding: 0

input[type="search"]
  -webkit-appearance: textfield
  box-sizing: content-box

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button
  -webkit-appearance: none

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top
  resize: none
