// =============================================================================
// Font Face
// =============================================================================
// @include font-face($style-name, $file, $family, $category);
// $style-name being the name of the font e.g. Helvetica
// $file meaning the file name, without the file extensions
// $family being the folder inside the fonts folder where the font files are
// $category is serif or sans-serif or monospace etc. as a fall back in CSS

@mixin font-face($style-name, $file, $family, $category:"")
  $filepath: "../fonts/" + $family + "/" + $file;
  @font-face
    font-family: "#{$style-name}";
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    font-weight: normal
    font-style: normal

  %#{$style-name}
    font:
      @if $category != ""
        family: "#{$style-name}", #{$category};
      @else
        family: "#{$style-name}";
        weight: normal



// ==============================
// clearfix mixin
@mixin clearfix
  &:before,
  &:after
    content: " ";
    display: table;

  &:after
    clear: both;


// ==============================
// clearlist mixin
@mixin clear_list
  margin: 0;
  padding: 0;
  list-style: none;

@mixin clearlist
  @include clear_list


// ==============================
@mixin clearinline
  font-size: 0;
  line-height: 0;

@mixin definline
  font-size: $font-size-base
  line-height: $line-height-base

// ==============================


// ==============================
// ellipsis
@mixin ellipsis ($nowrap: true)
  text-overflow: ellipsis
  overflow: hidden
  @if $nowrap
    white-space: nowrap


// ==============================
// hide text
@mixin hide_text
  overflow: hidden
  text-indent: 110%
  white-space: nowrap

// ==============================
// Size mixin:
// use size(20px) -> width: 20px; height: 20px;
// use size(10px, 20px) -> width:10px; height: 20px;
@mixin size($width, $height: null)
  width: $width

  @if $height
    height: $height
  @else
    height: $width



// ==============================
// tab focus
@mixin tab_focus
  outline: thin dotted
  outline: 5px auto -webkit-focus-ring-color
  outline-offset: -2px

// ==============================
// btn style
@mixin button_variant($color: $btn-default-color, $background: $btn-default-bg, $border: $btn-default-border)
  color: $color
  background-color: $background
  border-color: $border

  &:focus,
  &.focus
    color: $color
    background-color: lighten($background, 10%)
    border-color: lighten($border, 25%)


  &:hover
    color: $color
    background-color: lighten($background, 10%)
    border-color: lighten($border, 12%)


  &:active,
  &.active
    color: $color
    background-color: darken($background, 10%)
    border-color: darken($border, 12%)

    &:hover,
    &:focus,
    &.focus
      color: $color
      background-color: darken($background, 17%)
      border-color: darken($border, 25%)



  &:active,
  &.active
    background-image: none


  &.disabled,
  &[disabled],
  fieldset[disabled] &
    &:hover,
    &:focus,
    &.focus
      background-color: $background
      border-color: $border



// Button sizes
@mixin button_size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius)
  padding: $padding-vertical $padding-horizontal
  font-size: $font-size
  line-height: $line-height
  border-radius: $border-radius
  text-decoration: none
