//!  generated automatically!

//!  use:
//!    1. @include home
//!    2. @include home(r) - resize
//!    3. @include home(p) - change of background position
//!    4. @include home(!important), home(r, !important)
//!  $importance: unquote("")
//!  @if $arg and $arg2
//!    @if $arg2 == !important or $arg2 == important
//!      $importance: !important
//!  @else if $arg == !important or $arg == important
//!      $importance: !important
//!  

@mixin i_chevron-s
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat -22px -69px !important
  width: 10px !important
  height: 18px !important
@mixin i_chevron
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat 0px -69px !important
  width: 12px !important
  height: 18px !important
@mixin i_comments
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat -67px -33px !important
  width: 13px !important
  height: 12px !important
@mixin i_downloads
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat -54px -33px !important
  width: 13px !important
  height: 12px !important
@mixin i_home
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat 0px -53px !important
  width: 16px !important
  height: 16px !important
@mixin i_logo
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat 0px 0px !important
  width: 170px !important
  height: 33px !important
@mixin i_soc-fb
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat -12px -69px !important
  width: 10px !important
  height: 18px !important
@mixin i_soc-gp
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat -16px -53px !important
  width: 16px !important
  height: 16px !important
@mixin i_soc-pt
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat 0px -33px !important
  width: 16px !important
  height: 20px !important
@mixin i_soc-tw
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat -16px -33px !important
  width: 18px !important
  height: 15px !important
@mixin i_views
  display: inline-block !important
  background: url('../images/sprite.png') no-repeat -34px -33px !important
  width: 20px !important
  height: 12px !important
