//============ Fonts ============
$arial: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif
$nb: 'Nexa Bold', sans-serif
$nbx: 'NexaSlab xBold', serif
$pnl: 'ProximaNova Light', sans-serif
$pns: 'ProximaNova Semibold', sans-serif

//============ Typography ============
$font-family-base:   $pns
$font-size-base:     14px
$font-size-lg:       ceil($font-size-base * 1.25)
$font-size-sm:       ceil($font-size-base * 0.85)
$font-size-xs:       ceil($font-size-base * 0.65)

$font-size-h1:     floor($font-size-base * 2.2)
$font-size-h2:     floor($font-size-base * 1.8)
$font-size-h3:     ceil($font-size-base * 1.4) // ~24px
$font-size-h4:     ceil($font-size-base * 1.25) // ~18px
$font-size-h5:     $font-size-base
$font-size-h6:     ceil($font-size-base * 0.85) // ~12px

$line-height-base:     1.428571429
$line-height-base-px:  floor($font-size-base * $line-height-base)

$line-height-lg:     1.3333333
$line-height-sm:     1.5
$line-height-xs:     2.1

$border-radius:      2px
$border-radius-lg:   4px
$border-radius-sm:   1px
$border-radius-xs:   1px

$font-typography:         $font-family-base
$font-size-typography:    $font-size-base
$line-height-typography:  $line-height-base

$margin-bottom-typography: 10px


//============ Colors ============
$background-body:   #fff
$text-color:        #222
$text-color-light:  #aaaaaa
$base-color:        #86c840
$link-color:        $base-color
$second-color:      #f6e73b
$third-color:       #fd6a35
$border-color:      #d1d1d1


//============ Buttons =============
$btn-font-weight:        700
$btn-font-transform:     uppercase

$btn-default-color:      #fff
$btn-default-bg:         $base-color
$btn-default-border:     transparent

$btn-border-radius-base: $border-radius
$btn-border-radius-lg:   $btn-border-radius-base
$btn-border-radius-sm:   $btn-border-radius-base
$btn-border-radius-xs:   $btn-border-radius-base


//============ Components ================
$padding-base-ver:   8px
$padding-base-hor:   30px

$padding-lg-ver:     15px
$padding-lg-hor:     30px

$padding-sm-ver:     5px
$padding-sm-hor:     15px

$padding-xs-ver:     1px
$padding-xs-hor:     10px


//========= Forms ===========
$input-bg:                       #fff;
$input-bg-disabled:              darken($input-bg, 5%);
$input-color:                    $text-color;
$input-border-color:             $border-color;

$input-border-radius:            $border-radius;

$input-border-radius-lg:         $btn-border-radius-base;
$input-border-radius-sm:         $btn-border-radius-base;
$input-border-radius-xs:         $btn-border-radius-base;

$input-border-focus:             $base-color;
$input-color-placeholder:        $border-color;

$input-height-base:              ($line-height-base-px + ($padding-base-ver * 2) + 2);
$input-height-lg:                (ceil($font-size-lg * $line-height-lg) + ($padding-lg-ver * 2) + 2);
$input-height-sm:                (floor($font-size-sm * $line-height-sm) + ($padding-sm-ver * 2) + 2);
$input-height-xs:                (floor($font-size-xs * $line-height-xs) + ($padding-xs-ver * 2) + 2);

$form-group-margin-bottom:       15px;

$legend-color:                   $text-color;
$legend-border-color:            $border-color;

$cursor-disabled:                not-allowed;



//============ Media queries breakpoints ============
$xs:             480px
$sm:             768px
$md:             992px
$lg:             1200px

$xs-max:         $sm - 1
$sm-max:         $md - 1
$md-max:         $lg - 1

// media-*
$m-xs:           '(min-width:' + $xs + ')'
$m-sm:           '(min-width:' + $sm + ')'
$m-md:           '(min-width:' + $md + ')'
$m-lg:           '(min-width:' + $lg + ')'

$m-only-xxs:     '(max-width:' + ($xs - 1) + ')'
$m-only-xs:      $m-xs + ' and (max-width:' + $xs-max + ')'
$m-only-sm:      $m-sm + ' and (max-width:' + $sm-max + ')'
$m-only-md:      $m-md + ' and (max-width:' + $md-max + ')'

$m-phones:       '(max-width:' + $xs-max + ')'
$m-tablets:      $m-only-sm
$m-desktops:     $m-md

$m-retina:       "only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)"


//==== Grid ====
$grid-columns: 12
$grid-padding: 20px


//===== TIMING FUNCTIONS =====
// SINE
$ease-in-sine     : cubic-bezier(0.470,  0.000, 0.745, 0.715)
$ease-out-sine    : cubic-bezier(0.390,  0.575, 0.565, 1.000)
$ease-in-out-sine : cubic-bezier(0.445,  0.050, 0.550, 0.950)
// QUAD
$ease-in-quad     : cubic-bezier(0.550,  0.085, 0.680, 0.530)
$ease-out-quad    : cubic-bezier(0.250,  0.460, 0.450, 0.940)
$ease-in-out-quad : cubic-bezier(0.455,  0.030, 0.515, 0.955)
// CUBIC
$ease-in-cubic    : cubic-bezier(0.550,  0.055, 0.675, 0.190)
$ease-out-cubic   : cubic-bezier(0.215,  0.610, 0.355, 1.000)
$ease-in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000)
// QUART
$ease-in-quart    : cubic-bezier(0.895,  0.030, 0.685, 0.220)
$ease-out-quart   : cubic-bezier(0.165,  0.840, 0.440, 1.000)
$ease-in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000)
// QUINT
$ease-in-quint    : cubic-bezier(0.755,  0.050, 0.855, 0.060)
$ease-out-quint   : cubic-bezier(0.230,  1.000, 0.320, 1.000)
$ease-in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000)
// EXPO
$ease-in-expo     : cubic-bezier(0.950,  0.050, 0.795, 0.035)
$ease-out-expo    : cubic-bezier(0.190,  1.000, 0.220, 1.000)
$ease-in-out-expo : cubic-bezier(1.000,  0.000, 0.000, 1.000)
// CIRC
$ease-in-circ     : cubic-bezier(0.600,  0.040, 0.980, 0.335)
$ease-out-circ    : cubic-bezier(0.075,  0.820, 0.165, 1.000)
$ease-in-out-circ : cubic-bezier(0.785,  0.135, 0.150, 0.860)
// BACK
$ease-in-back     : cubic-bezier(0.600, -0.280, 0.735, 0.045)
$ease-out-back    : cubic-bezier(0.175,  0.885, 0.320, 1.275)
$ease-in-out-back : cubic-bezier(0.680, -0.550, 0.265, 1.550)