<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test - {% block title %}{% endblock %}</title>

        {# meta #}
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="article">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@ilyaashapatov">
        <meta name="twitter:site" content="ilyaashapatov.ru">
        <meta name="twitter:title" content="Тестовое задание для компании ESET NOD32">
        <meta name="twitter:description" content="Тестовое задание для компании ESET NOD32">
        <meta name="twitter:image:src" content="http://ilyaashapatov.ru/assets/templates/site/assets/img/avatar.jpg">
        <meta name="twitter:domain" content="ilyaashapatov.ru">

        {# favicons #}
        <link href="./images/favicon/android-chrome-144x144.png" rel="icon">
        <link href="./images/favicon/android-chrome-192x192.png" rel="icon">
        <link href="./images/favicon/apple-touch-icon-180x180.png" rel="icon">
        <link href="./images/favicon/apple-touch-icon-152x152.png" rel="icon">
        <link href="./images/favicon/apple-touch-icon-120x120.png" rel="icon">
        <link href="./images/favicon/apple-touch-icon-76x76.png" rel="icon">
        <link href="./images/favicon/apple-touch-icon-60x60.png" rel="icon">
        <link href="./images/favicon/mstile-310x310.png" rel="icon">
        <link href="./images/favicon/mstile-70x70.png" rel="icon">
        <link href="./images/favicon/favicon-32x32.png" rel="icon">
        <link href="./images/favicon/favicon.ico" type="image/vnd.microsoft.icon" rel="icon">

        <!--[if lte IE 9]><script src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'></script><![endif]-->

        <!-- rev-hash -->
        <link rel="stylesheet" href="./styles/index.css">
        <!-- end -->
    </head>

    <body>
        <!-- header -->
        {% include 'includes/header.twig' %}
        <!-- /header -->

        <!-- content -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <!-- /content -->

        <!-- footer -->
        {% include 'includes/footer.twig' %}
        <!-- /footer -->

        <!-- rev-hash -->
        <script src="./scripts/vendor.js"></script>
        <script src="./scripts/app.js"></script>
        <!-- end -->
    </body>
</html>