{% set foot_menu = [
    ["Home", "index.html"],
    ["About", "index.html", ""],
    ["Archive", "index.html", ""],
    ["Contact", "index.html", ""]
] %}
<footer class="b-footer">
    <div class="container">
      <div class="b-footer__wrap">
        <nav class="b-menu b-footer__menu">
          <ul class="b-menu__list">
            {% for item in foot_menu %}
              <li class="b-menu__item"><a href="{{ item.1 }}" class="b-menu__link">{{ item.0 }}</a></li>
            {% endfor %}
          </ul>
        </nav>

        <div class="b-footer__soc">
          <a href="#?" target="_blank" class="b-soc b-soc_tw"></a>
          <a href="#?" target="_blank" class="b-soc b-soc_fb"></a>
          <a href="#?" target="_blank" class="b-soc b-soc_pt"></a>
          <a href="#?" target="_blank" class="b-soc b-soc_gp"></a>
        </div>

        <div class="b-footer__copy">&copy; Copyright 2013 DesignerFirst.com</div>
      </div>
    </div>
</footer>