{% set menu = [
    ["<span class='b-icon b-icon__home'></span>", "index.html"],
    ["Blog", "index.html", ""],
    ["Fonts", "index.html", ""],
    ["Templates", "index.html", ""],
    ["Icons", "index.html", ""],
    ["Wordpress", "index.html", ""]
] %}
<header class="b-header">
  <div class="container">
    <a href="/" class="b-header__logo b-logo"><span class="b-logo__icon"></span></a>
    <nav class="b-header__menu b-menu" js-menu>
      <a href="javascript:;" class="b-header__control" js-menu-control>
        <span class="b-header__control-icon"><i></i><i></i><i></i><i></i></span>
      </a>
      <ul class="b-menu__list">
        {% for item in menu %}
          <li class="b-menu__item"><a href="{{ item.1 }}" class="b-menu__link{% if loop.index == is_active %} _active{% endif %}">{{ item.0 }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>