// b-content.sass

// title groups
.b-hgroup
  margin: 60px 0 50px
  padding-left: 25px
  border-left: 6px solid $base-color

.b-hgroup__title
  margin-bottom: 3px
  line-height: 1
  font-size: 36px
  font-family: $nbx

.b-hgroup__subtitle
  color: $text-color-light


// goods grid
.b-goods
  position: relative

.b-goods__list
  // margin-bottom: 35px
  @extend .g-row

.b-goods__item
  @extend .g-bs-4

// goods item
.b-goods-item
  //

.b-goods-item__wrap
  margin-bottom: 40px

.b-goods-item__image
  position: relative
  overflow: hidden
  display: block
  height: 225px
  border-radius: 7px
  background-color: #eeeeee
  text-decoration: none
  background-size: cover
  background-position: 50% 50%


.b-goods-item__panel
  position: absolute
  bottom: 5px
  opacity: 0
  left: 5px
  right: 5px
  padding: 10px
  border-radius: 0 0 5px 5px
  background-color: rgba(34,34,34,0.85)
  color: #FFF
  font-size: 12px
  line-height: 20px
  text-align: right
  transform: translate(0, -10px)
  transition: opacity .2s ease-in, transform .5s ease-in-out

  @include clearfix

.b-goods-item__date
  float: left

.b-goods-item__view,
.b-goods-item__comments,
.b-goods-item__downloads
  position: relative
  display: inline-block

  &:before
    content: ""
    margin-top: -2px
    margin-right: 5px
    vertical-align: middle

.b-goods-item__view,
.b-goods-item__comments
  margin-right: 10px

.b-goods-item__view:before
  @include i_views

.b-goods-item__comments:before
  @include i_comments

.b-goods-item__downloads:before
  @include i_downloads


.b-goods-item__image:hover
  .b-goods-item__panel
    transform: translate(0, 0)
    opacity: 1
    transition: opacity .7s ease-in, transform .5s ease-in-out



.b-goods-item__caption
  position: relative
  padding: 15px 60px 15px 15px

.b-goods-item__title
  display: block
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  font-size: 16px
  font-family: $nbx
  color: inherit
  text-decoration: none

.b-goods-item__type
  color: $text-color-light
  text-decoration: none
  font-size: 14px

.b-goods-item__more
  position: absolute
  top: 20px
  right: 15px
  width: 32px
  height: 32px
  border-radius: 50%
  background-color: $base-color

  &:after
    content: ""
    overflow: hidden
    position: absolute
    top: 52%
    left: 55%
    transform: translate(-50%, -50%)
    transition: all .3s
    @include i_chevron

  &:hover
    background-color: lighten($base-color, 10%)

  &:active
    background-color: darken($base-color, 10%)


.b-goods__more
  margin-bottom: 50px
  text-align: center

@media (max-width: #{$md})
  .b-goods-item__panel
    text-align: left

  .b-goods-item__date
    float: none
    display: block
    margin-bottom: 5px



@media (max-width: #{$sm})
  .b-goods__item
    width: 50%

@media (max-width: 600px)
  .b-goods__item
    width: 100%

  .b-goods-item__wrap
    border-bottom: 1px solid #eee




