// b-menu.sass
.b-menu
  // position: relative

.b-menu__list
  @include clearlist;
  @include clearinline;

.b-menu__item
  display: inline-block
  vertical-align: top
  @include definline;

.b-menu__link
  box-sizing: content-box
  position: relative
  display: block
  padding: 10px 15px
  height: 20px
  text-decoration: none
  color: inherit
  line-height: 20px
  transition: .3s ease

  &:hover
    opacity: 0.7
