.b-footer
  position: relative

.b-footer__wrap
  padding-top: 50px
  padding-bottom: 70px
  @include clearinline

.b-footer__soc,
.b-footer__menu,
.b-footer__copy
  display: inline-block
  vertical-align: top
  width: (100%/3)
  @include definline

.b-footer__menu
  .b-menu__list
    margin-left: -15px
    text-align: left

.b-footer__copy
  text-align: right
  line-height: 40px

.b-footer__soc
  text-align: center
  @include clearinline

.b-soc
  position: relative
  width: 42px
  height: 42px
  margin: -1px 5px 0
  display: inline-block
  border-radius: 50%
  background-color: #222
  transition: background-color .3s ease

  &:after,
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  &:before
    width: 100%
    height: 100%
    border-radius: 50%
    margin-top: -21px
    margin-left: -21px
    transform: scale(0, 0)
    opacity: 0
    transition: transform .2s ease, opacity .2s ease

  &:hover
    &:before
      opacity: 1
      transform: scale(1.1, 1.1)
      transition: transform .4s ease, opacity .5s ease

.b-soc_tw
  &:after
    @include i_soc-tw

  &:before
    background-color: #55acee

.b-soc_fb
  &:after
    @include i_soc-fb

  &:before
    background-color: #3b5998

.b-soc_pt
  &:after
    @include i_soc-pt

  &:before
    background-color: #bd081c


.b-soc_gp
  &:after
    @include i_soc-gp

  &:before
    background-color: #dd4b39


@media (max-width: #{$md})
  .b-footer__wrap
    text-align: right

  .b-footer__soc
    text-align: inherit
    margin-bottom: 20px

  .b-footer__menu,
  .b-footer__soc,
  .b-footer__copy
    width: 50%

@media (max-width: #{$sm})
  .b-footer__wrap
    text-align: center
    padding-top: 30px
    padding-bottom: 40px

  .b-footer__copy,
  .b-footer__menu .b-menu__list
    text-align: inherit
    margin-left: 0

  .b-footer__menu,
  .b-footer__soc,
  .b-footer__copy
    display: block
    width: 100%

  .b-footer__menu
    margin-bottom: 20px









