{% extends './tpl/base.twig' %}

{% block title %}Index page{% endblock %}

{% set is_active = '1' %}

{# array goods = [category[0], title[1], url[2], image_url[3], category_url[4], create_date[5], count_view[6], count_comments[7], count_downloads[8]] #}
{% set goods = [
  ["Templates, PSD", "Responsive Showcase", "#?", "", "#?", "June 28, 2013", "328", "12", "128"],
  ["Icons, Misc", "Round Icon Set", "#?", "", "#?", "June 28, 2013", "328", "12", "128"],
  ["Fonts, Sans Serif", "Nexa Free Font", "#?", "", "#?", "June 28, 2013", "328", "12", "128"],
  ["Icons, Weather", "Meteocons", "#?", "", "#?", "June 28, 2013", "328", "12", "128"],
  ["Templates, UI Kits", "The Bricks - UI Pack", "#?", "", "#?", "June 28, 2013", "328", "12", "128"],
  ["Templates, Mock-Ups", "Apple Cinema Display...", "#?", "", "#?", "June 28, 2013", "328", "12", "128"]
] %}


{% block content %}
  <section class="b-quote">
    <div class="b-quote__container container">
      <div class="b-quote__content">
        I absolutely love your freebies! Anytime I&nbsp;have to&nbsp;design&nbsp;a template and&nbsp;I’m&nbsp;looking for&nbsp;resources, I&nbsp;come to&nbsp;your site first!
      </div>
    </div>
  </section>

  <div class="container">
    <div class="b-hgroup">
      <h1 class="b-hgroup__title">Fresh Freebies</h1>
      <div class="b-hgroup__subtitle">Download Till Your Heart’s Content!</div>
    </div>

    <div class="b-goods">
      <div class="b-goods__list">
        {# array goods = [category[0], title[1], url[2], image_url[3], category_url[4], create_date[5], count_view[6], count_comments[7], count_downloads[8]] #}
        {% for item in goods %}
          <div id="goods-{{ loop.index }}" class="b-goods__item b-goods-item">
            <div class="b-goods-item__wrap">
              <a href="{{ item.2 }}" class="b-goods-item__image"{% if item.3 %} style="background-image: url('{{ item.3 }}')"{% endif %}>
                <span class="b-goods-item__panel">
                  <span class="b-goods-item__date">{{ item.5 }}</span>
                  <span class="b-goods-item__view">{{ item.6 }}</span>
                  <span class="b-goods-item__comments">{{ item.7 }}</span>
                  <span class="b-goods-item__downloads">{{ item.8 }}</span>
                </span>
              </a>

              <div class="b-goods-item__caption">
                <a href="{{ item.2 }}" class="b-goods-item__title">{{ item.1 }}</a>
                <a href="{{ item.4 }}" class="b-goods-item__type">{{ item.0 }}</a>
                <a href="{{ item.2 }}" class="b-goods-item__more"></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="b-goods__more">
        <a href="#?" class="btn btn_arrow">More Freebies</a>
      </div>
    </div>
  </div>

  <section class="b-quote">
    <div class="b-quote__container container">
      <div class="b-quote__content">
        I absolutely love your freebies! Anytime I&nbsp;have to&nbsp;design&nbsp;a template and&nbsp;I’m&nbsp;looking for&nbsp;resources, I&nbsp;come to&nbsp;your site first!
      </div>
    </div>
  </section>
{% endblock %}