{{! Sprites }}
//!  generated automatically!

//!  use:
//!    1. @include {{prefix}}home
//!    2. @include {{prefix}}home(r) - resize
//!    3. @include {{prefix}}home(p) - change of background position
//!    4. @include {{prefix}}home(!important), {{prefix}}home(r, !important)
//!  $importance: unquote("")
//!  @if $arg and $arg2
//!    @if $arg2 == !important or $arg2 == important
//!      $importance: !important
//!  @else if $arg == !important or $arg == important
//!      $importance: !important
//!  {{#if retina}}
//!  @media ($m-retina)
//!    background-size {{px.total_width}} {{px.total_height}}
//!    background-image url('{{retinaImgPath}}')
//!  {{/if}}

{{#each sprites}}
@mixin {{prefix}}{{name}}
  display: inline-block !important
  background: url('{{{escaped_image}}}') no-repeat {{px.offset_x}} {{px.offset_y}} !important
  width: {{px.width}} !important
  height: {{px.height}} !important
{{/each}}