.b-header
  position: relative
  z-index: 1
  @include clearfix;

.b-header__logo
  float: left
  padding: 30px 0

.b-header__menu
  float: right
  padding: 30px 0

// logo
.b-logo__icon
  @include i_logo();

// menu
.b-header__menu
  .b-menu__list
    transition: opacity .5s ease
    margin-right: -20px

  .b-menu__link
    padding: 10px 20px
    font-family: $nbx
    font-size: 16px

    &:after
      content: ""
      display: block
      position: absolute
      top: 100%
      left: 50%
      transform: translate(-50%, -50%)
      width: 10px
      height: 10px
      border-radius: 50%
      background-color: transparent
      transition: .5s ease

    &._active:after
      background-color: $base-color !important

    &:hover
      &:after
        background-color: #d1d1d1


.b-header__control-icon
  position: absolute
  display: block
  width: 36px
  height: 36px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  i
    position: absolute
    left: 6px
    width: 24px
    height: 2px
    background-color: #222
    opacity: 1
    transition: .35s cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity .35s linear

    &:nth-child(1)
      top: 7px

    &:nth-child(2),
    &:nth-child(3)
      top: 15px

    &:nth-child(4)
      top: 23px


.b-header__control
  position: relative
  display: none
  text-decoration: none
  width: 36px
  height: 36px

  &:hover
    .b-header__control-icon i:nth-child(1)
      top: 5px

    .b-header__control-icon i:nth-child(4)
      top: 25px

  ._open &

    .b-header__control-icon i:nth-child(1)
      transform: translate(0, -2rem)
      opacity: 0

    .b-header__control-icon i:nth-child(4)
      transform: translate(0, 2rem)
      opacity: 0

    .b-header__control-icon i:nth-child(2)
      transform: rotate(45deg)

    .b-header__control-icon i:nth-child(3)
      transform: rotate(-45deg)

.b-icon
  vertical-align: baseline

.b-icon__home
  @include i_home


@media (max-width: #{$md})
  .b-header__menu
    .b-menu__list
      margin-right: -15px

    .b-menu__link
      padding-left: 15px
      padding-right: 15px


@media (max-width: #{$sm})
  .b-header__logo
    padding: 15px 0

  .b-header__menu
    padding: 15px 0

  .b-header__control
    display: block

  .b-header__menu
    .b-menu__list
      position: absolute
      left: 0
      top: 100%
      width: 100%
      margin-right: 0px
      max-height: 0
      overflow: hidden
      visibility: hidden
      opacity: 0
      padding-bottom: 20px
      background-color: #FFF
      box-shadow: 0 15px 20px -18px rgba(0,0,0,0.8)

    .b-menu__item
      display: block

    .b-menu__link
      padding-left: 20px
      padding-right: 20px

      &:after
        top: 0
        left: 0
        width: 5px
        height: 100%
        border-radius: 0
        transform: translate(0, 0)

  .b-header__menu._open
    .b-menu__list
      visibility: visible
      opacity: 1
      max-height: 600px

