.b-quote
  padding: 40px 0
  background: #ddd


.b-quote__content
  position: relative
  font-family: $pnl
  font-size: 28px
  text-align: center
  padding-left: 80px
  padding-right: 80px

  &:before,
  &:after
    position: absolute
    top: 50%
    display: block
    font-family: $pns
    font-size: 63px
    line-height: 78px
    width: 45px
    height: 45px
    background-color: $base-color
    border-radius: 50%
    color: #fff
    text-shadow: 0 1px 1px rgba(0,0,0,0.4)
    transform: translate(0, -50%)

  &:before
    content: "\201C"
    left: 0

  &:after
    content: "\201D"
    right: 0

@media (max-width: #{$sm})
  .b-quote__content
    padding-left: 20px
    padding-right: 20px
    padding-top: 60px

    &:after
      display: none

    &:before
      transform: translate(-50%, 0)
      left: 50%
      top: 0




