.btn
  display: inline-block
  @include button_size($padding-base-ver, $padding-base-hor, $font-size-base, $line-height-base, $btn-border-radius-base)
  margin-bottom: 5px
  background-image: none
  @include button_variant($btn-default-color, $btn-default-bg, $btn-default-border)
  border: 1px solid transparent
  font-weight: $btn-font-weight
  vertical-align: middle
  text-align: center
  text-transform: $btn-font-transform
  white-space: nowrap
  touch-action: manipulation
  cursor: pointer
  user-select: none
  transition: .1s $ease-in-sine
  text-shadow: 0 1px 1px rgba(0,0,0,0.3)

  &,
  &:active,
  &.active
    &:focus,
    &.focus
      @include tab-focus()

  &:hover,
  &:focus,
  &.focus
    color: $btn-default-color
    text-decoration: none
    transition-duration: .3s

  &:active,
  &.active
    outline: 0
    background-image: none
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
    transition-duration: .3s

  &.disabled,
  &[disabled],
  fieldset[disabled] &
    cursor: default
    opacity: .65
    box-shadow: none


.btn_arrow
  &:after
    content: ""
    vertical-align: middle
    margin-left: 10px
    margin-top: -3px
    @include i_chevron-s
