.container
  margin-left: auto
  margin-right: auto
  padding: 0 $grid-padding
  max-width: 980px

.g-row
  margin-left: ($grid-padding / -2)
  margin-right: ($grid-padding / -2)
  font-size: 0
  line-height: 0
  @include clearfix

$grid-list: '.g-bs'

@for $index from 1 through $grid-columns
  $grid-list: $grid-list + ", .g-bs-" + $index
  $grid-list: $grid-list + ", .g-xs-" + $index
  $grid-list: $grid-list + ", .g-sm-" + $index
  // $grid-list: $grid-list + ", .g-md-" + $index
  // $grid-list: $grid-list + ", .g-lg-" + $index


#{$grid-list}
  padding-left: ($grid-padding / 2)
  padding-right: ($grid-padding / 2)
  box-sizing: border-box
  width: 100%
  min-height: 1px
  font-size: $font-size-base
  line-height: $line-height-base
  vertical-align: top


@mixin make_grid($size)
  @for $index from 1 through $grid-columns
    .g-#{$size}-#{$index}
      display: inline-block
      width: percentage($index / $grid-columns)

    // .g-#{$size}-offset-#{$index}
    //   margin-left: percentage($index / $grid-columns)


@include make_grid('bs')

@media #{$m-xs}
  @include make_grid('xs')

@media #{$m-sm}
  @include make_grid('sm')

// @media #{$m-md}
//   @include make_grid('md')

// @media #{$m-lg}
//   @include make_grid('lg')