.visible-xs
.visible-sm
.visible-md
.visible-lg
  display: none !important


@media #{$m-xs}
  .hidden-xs
    display: none !important

  .visible-xs
    display: block !important


@media #{$m-sm}
  .hidden-sm
    display: none !important

  .visible-sm
    display: block !important


@media #{$m-md}
  .hidden-md
    display: none !important

  .visible-md
    display: block !important


@media #{$m-lg}
  .hidden-lg
    display: none !important

  .visible-lg
    display: block !important